%h2 Add beers to your log
= form_for @beer_log, url: { controller: "dashboard", action: "create" } do |f|
  = f.hidden_field  :user_id, value: current_user.id
  %div.form-row
    %div.form-group.col-md-4
      = f.label :beer
      = f.text_field :beer, class: "form-control", autocomplete: "off"
      = f.hidden_field :beer_id, class: "form-control"
      %ul.dropdown-menu.beer-catalog
    %div.form-group.col-md-4
      = f.label :quantity
      = f.number_field :quantity, min: 1, class: "form-control"
    %div.form-group.col-md-4
      = f.label :date
      = f.date_field :date, class: "form-control"
    %div.form-group.col-md-12
      = f.submit class: "btn btn-primary"
#the-basics
  %input.typeahead{:placeholder => "States of USA", :type => "text"}

:javascript
  const inputBeerName = document.querySelector('#beer_log_beer');
  const inputBeerId = document.querySelector('#beer_log_beer_id');
  const catalog = document.querySelector('.beer-catalog');

  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      let result = autoComplete(inputBeerName.value);
    
     
      console.log(matches);
      cb(result);
    };
  };

  var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
    'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
    'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
    'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
    'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
    'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
    'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
    'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
    'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
  ];

  $('#beer_log_beer').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'state',
    source: autoComplete(inputBeerName.value)
  });



  // inputBeerName.addEventListener("keyup", () => {
  //   if (inputBeerName.value.length >= 3 ) {
  //     deleteId(); // This prevents the id stays if the input change by keyboard
  //     autoComplete(inputBeerName.value);
  //   }else {
  //     catalog.style.display = "none";
  //   }
  // });

  function autoComplete(word) {
    $.ajax('dashboard/autocomplete', {
      data: { word: word }
    })
    .then(
      function success(data) {
        return function findMatches(q, cb) {
          cb(data);
        };
      },

      function fail(data, status) {
          alert('Request failed.  Returned status of ' + status);
      }
    );
  }

  // function fillCatalog(array) {
  //   let html = "";
  //   if (array.length == 0) {
  //     html += '<li><a>No matches</a></li>';
  //   }else{
  //     array.map(beer => {
  //       html += `<li onclick="setBeerId('${beer.name}', ${beer.id})"><a>${beer.name}</a></li>`;
  //     });
  //   }
  //   catalog.innerHTML = html;
  //   catalog.style.display = "block";
  // }

  // function setBeerId(name, id) {
  //   inputBeerName.value = name;
  //   inputBeerId.value = id;
  //   catalog.style.display = "none"
  // }

  // function deleteId() {
  //   inputBeerId.value = "";
  // }

  // inputBeerName.addEventListener("focusout", () => {
  //   catalog.style.display = "none";
  // });


  // Twitter typeahead example.

  // instantiate the bloodhound suggestion engine
