.modal.fade.modal-fade{ tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data:{ dismiss: 'modal' } }
          %span{ aria:{ hidden: 'true' } }
            %i.fa.fa-close
          %span.sr-only Close
        %h4.modal-title #{locals[:title]} Beer
      = form_for @beer, url: { controller: 'beers', action: locals[:action] }, remote: true do |f|
        .modal-body
          %div.row
            %div.form-group.col-md-4
              = f.label :name
              = f.text_field :name, class: 'form-control'
            %div.form-group.col-md-4
              = f.label :image
              = f.file_field :image, class: 'form-control-file'
        .modal-footer
          %button.btn.btn-default{ type: 'button', data:{ dismiss: 'modal' } } Close
          = f.submit class: 'btn btn-primary'
